<?xml version="1.0" encoding="UTF-8"?>
<CuttingParameter>
  <DataVersion>A0</DataVersion>
  <Tool>
    <ToolName>基板加工カッター 土佐昌典FT</ToolName>
    <Common>
      <AirCutHeight>1.5</AirCutHeight>
      <UpDownCut>UpCut</UpDownCut>
    </Common>
    <Pattern>
      <ToolDia>0.50</ToolDia>
      <CutDepth>0.20</CutDepth>
      <PlungeRate>110</PlungeRate>
      <FeedRate>110</FeedRate>
      <CuttingMode>Once</CuttingMode>
    </Pattern>
    <Drill>
      <ToolDia>0.50</ToolDia>
      <CutOutDepth>1.60</CutOutDepth>
      <PassDepth>0.10</PassDepth>
      <CutOutPlungeRate>110</CutOutPlungeRate>
      <FeedRate>110</FeedRate>
      <DrillingDepth>1.60</DrillingDepth>
      <DrillingPlungeRate>110</DrillingPlungeRate>
      <CenterHole>CenterHole</CenterHole>
      <CenterHoleDepth>1.60</CenterHoleDepth>
      <CenterHolePlungeRate>100</CenterHolePlungeRate>
    </Drill>
    <Outline>
      <ToolDia>0.50</ToolDia>
      <CutDepth>1.60</CutDepth>
      <PassDepth>0.10</PassDepth>
      <PlungeRate>110</PlungeRate>
      <FeedRate>110</FeedRate>
      <AddTabs>False</AddTabs>
      <TabLength>0.3</TabLength>
      <TabNum>3</TabNum>
    </Outline>
  </Tool>
  <Tool>
    <ToolName>基板加工カッター 土佐昌典VC</ToolName>
    <Common>
      <AirCutHeight>1.5</AirCutHeight>
      <UpDownCut>UpCut</UpDownCut>
    </Common>
    <Pattern>
      <ToolDia>0.30</ToolDia>
      <CutDepth>0.20</CutDepth>
      <PlungeRate>100</PlungeRate>
      <FeedRate>120</FeedRate>
      <CuttingMode>Once</CuttingMode>
    </Pattern>
    <Drill>
      <ToolDia>0.80</ToolDia>
      <CutOutDepth>2.00</CutOutDepth>
      <PassDepth>2.00</PassDepth>
      <CutOutPlungeRate>100</CutOutPlungeRate>
      <FeedRate>100</FeedRate>
      <DrillingDepth>2.00</DrillingDepth>
      <DrillingPlungeRate>100</DrillingPlungeRate>
      <CenterHole>CenterHole</CenterHole>
      <CenterHoleDepth>2.00</CenterHoleDepth>
      <CenterHolePlungeRate>100</CenterHolePlungeRate>
    </Drill>
    <Outline>
      <ToolDia>0.80</ToolDia>
      <CutDepth>1.70</CutDepth>
      <PassDepth>0.20</PassDepth>
      <PlungeRate>100</PlungeRate>
      <FeedRate>120</FeedRate>
      <AddTabs>True</AddTabs>
      <TabLength>0.5</TabLength>
      <TabNum>4</TabNum>
    </Outline>
  </Tool>
  <Tool>
    <ToolName>その他</ToolName>
    <Common>
      <AirCutHeight>1.0</AirCutHeight>
      <UpDownCut>UpCut</UpDownCut>
    </Common>
    <Pattern>
      <ToolDia>0.20</ToolDia>
      <CutDepth>0.15</CutDepth>
      <PlungeRate>100</PlungeRate>
      <FeedRate>300</FeedRate>
      <CuttingMode>Outside</CuttingMode>
    </Pattern>
    <Drill>
      <ToolDia>0.80</ToolDia>
      <CutOutDepth>2.50</CutOutDepth>
      <PassDepth>0.20</PassDepth>
      <CutOutPlungeRate>100</CutOutPlungeRate>
      <FeedRate>300</FeedRate>
      <DrillingDepth>2.50</DrillingDepth>
      <DrillingPlungeRate>100</DrillingPlungeRate>
      <CenterHole>CenterHole</CenterHole>
      <CenterHoleDepth>2.50</CenterHoleDepth>
      <CenterHolePlungeRate>100</CenterHolePlungeRate>
    </Drill>
    <Outline>
      <ToolDia>0.80</ToolDia>
      <CutDepth>2.00</CutDepth>
      <PassDepth>0.20</PassDepth>
      <PlungeRate>100</PlungeRate>
      <FeedRate>300</FeedRate>
      <AddTabs>True</AddTabs>
      <TabLength>0.5</TabLength>
      <TabNum>6</TabNum>
    </Outline>
  </Tool>
</CuttingParameter>